#page {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.totalDiv {
    border: red solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vh;
    height: 70vh;
}
.contenedorP{
    width: 140vh;
    border: red solid 1px;
    padding: 2vh;

}