
.carusel{
    width: 94vw;
    height: 50vw;
    border-radius: 20px;
    filter: brightness(0.7);
}

@media only screen and (max-width: 430px){
    .fitContent {
        width: 30vh;
        font-size: 12px;
        text-align: center;
       display: flex;
       justify-content: flex-end;
       align-items: center;
       flex-direction: column;
       margin-left: 0;
        padding-left: 0;
        

    }

}